<a href="https://colab.research.google.com/github/Yashthon/Think-Python/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Structures in Python Part II and Control statements

In [ ]:
# 1. From Learn Python in 7 days--- from pages 70 to 77, from pages 102 to 118 solve the examples
fruit = 'banana'
letter = fruit[1]
print (letter)
letter = fruit[0]
print (letter)

a
b

In [ ]:
fruit = 'banana'
len(fruit)

6

Exercise 8.1 Write a function that takes a string as an argument and displays the letters backward,
one per line.

In [ ]:
n = input("Enter string ")
# i = 0
# j = len(n)
# reverse = string[::-1]
# while i < j:
#   letter = n[i]
#   print(reverse(letter))
#   i = i + 1
for char in reversed(n):
  print(char)

Enter string YAsh
h
s
A
Y

In [ ]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
  print (letter + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

8.4 String slices

In [ ]:
s = 'Monty Python'
print (s[0:5])
print (s[6:13])

Monty
Python

In [ ]:
fruit = 'banana'
fruit[:3]
fruit[3:]

'ana'

Debugging

In [ ]:
def is_reverse(word1, word2):
  if len(word1) != len(word2):
    return False
  i = 0
  j = len(word2)
while j > 0:
    if word1[i] != word2[j]:
    return False
i = i+1
j = j-1
return True

In [ ]:
# Exercise 11.2 Dictionaries have a method called get that takes a key and a default value. If the key
# appears in the dictionary, get returns the corresponding value; otherwise it returns the default value.
def histogram(s):
  d = dict()
  for c in s:
    if c not in d:
      d[c] = 1
    else:
      d[c] += 1
    return d

In [ ]:
h = histogram('brontosaurus')
print (h)
{'a': 1, 'b': 1, 'o': 2, 'n': 1, 's': 2, 'r': 2, 'u': 2, 't': 1}

{'b': 1}

{'a': 1, 'b': 1, 'n': 1, 'o': 2, 'r': 2, 's': 2, 't': 1, 'u': 2}

Exercise 11.2 Dictionaries have a method called get that takes a key and a default value. If the key
appears in the dictionary, get returns the corresponding value; otherwise it returns the default value.

In [ ]:
h = histogram('a')
print (h)
{'a': 1}
h.get('a', 0)
h.get('b', 0)

{'a': 1}

0

Looping and dictionaries

In [ ]:
def print_hist(h):
  for c in h:
    print (c, h[c])

In [ ]:
h = histogram('parrot')
print_hist(h)

p 1

Reverse lookup

In [ ]:
def reverse_lookup(d, v):
  for k in d:
    if d[k] == v:
      return k
  raise ValueError

In [ ]:
h = histogram('parrot')
k = reverse_lookup(h, 2)
print (k)

ValueError: ignored

Dictionaries and lists

In [ ]:
def invert_dict(d):
  inv = dict()
  for key in d:
    val = d[key]
    if val not in inv:
      inv[val] = [key]
    else:
      inv[val].append(key)
  return inv

In [ ]:
hist = histogram('parrot')
print(hist)
a =  {'a':1, 'p': 1, 'r': 2, 't': 1, 'o': 1}
inv = invert_dict(a)
print(inv)

{'p': 1}
{1: ['a', 'p', 't', 'o'], 2: ['r']}

In [ ]:
# Exercise 11.5 Read the documentation of the dictionary method setdefault and use it to write a
# more concise version of invert_dict.
a =  {'a':1, 'b': 3, 'c': 5, 'd': 7, 'e': 9}
reversed_dictionary = {value:key for (key,value)in a.items()}
print(reversed_dictionary)

{1: 'a', 3: 'b', 5: 'c', 7: 'd', 9: 'e'}

Memos

In [ ]:
# Fibonacci using memos
known = {0:0, 1:1}
def fibonacci(n):
  if n in known:
    return known[n]
  res = fibonacci(n-1) + fibonacci(n-2)
  known[n] = res
  return res

In [ ]:
# Exercise 11.6 Run this version of fibonacci and the original with a range of parameters and
# compare their run times.
fibonacci(100)

354224848179261915075

Global variables

In [ ]:
verbose = True
def example1():
  if verbose:
    print ('Running example1')

Long integers

In [ ]:
fibo = fibonacci(50) # Data type must be Long 'as per book'.
print(fibo)
type(fibo)

12586269025

int

# **Exercises**

In [ ]:
# Exercise 11.8 If you did Exercise 10.5, you already have a function named has_duplicates that
# takes a list as a parameter and returns True if there is any object that appears more than once in the
# list.
# Use a dictionary to write a faster, simpler version of has_duplicates.
list1 = [5,7,3,1,8,9,6]

def dups(List):
  dictionary = {}
  for items in List:
    dictionary[items] = 1 + dictionary.get(items, 0)
    if dictionary[items] > 1:
      return True
  return False
print(dups(list1))

False

In [ ]:
# Exercise 11.9 Two words are “rotate pairs” if you can rotate one of them and get the other (see
# rotate_word in Exercise 8.12).

# Write a program that reads a wordlist and finds all the rotate pairs.
!pip install rotate

ERROR: Could not find a version that satisfies the requirement rotate (from versions: none)
ERROR: No matching distribution found for rotate

# **Tuples**

In [ ]:
# Exercise 12.1 Many of the built-in functions use variable-length argument tuples. For example,
# max and min can take any number of arguments:
max(1,2,3)

3

# 2. Write a menu driven program to show operation on Dictionary and List operation such as:
#Create
#Append
#Delete
#Modify and take input from user

In [ ]:
# dict1 = {}
# # creating options  
# while True:  
#     print("\nMAIN MENU")  
#     print("1. Create") 
#     print("2. Append")  
#     print("3. Delete")  
#     choice1 = int(input("Enter the Choice:"))

#     if choice1 == 1:
 
#       print("\na. Dictionary")
#       print("\nb. List")
#       i1 = input("Enter your choice here ") 

#       if 'a' in i1:# for dictionary
#         key = input("Enter key ")
#         value = input("Enter value ")
#         dict1[key] = [value]
#         print(dict1)
#         break
#         continue
#       elif 'b' in i1: # for list
#           lst = []
#           n = int(input("Enter number of elements : "))
#       for i in range(0, n):
#         element = input("Enter elements")
#         lst.append(element)
#         print(lst)

#     if choice2 == 2:
#       print("\na. Dictionary")
#       print("\nb. List")
#       i2 = input("Enter your choice here ") 
#       if 'a' in i2:
#         key = input("Enter key ")
#         value = input("Enter value ")
#         dict1[key]=value
#         print(dict1)
#         break
#         continue

#       elif 'b' in i2:
#         element1 = input("Enter elements")
#         lst.append(elemen1)
d = {}
while True:
    print("OPERATIONS ON DICTIONARY\n1.Create element\n2.Append Element\n3.Delete Element\n4.Update Element\n5.Exit\n\n")
    n=int(input("Enter choice :"))
 
    if n == 1:
        a=input("Enter Key :")
        b=input("Enter value: ")
 
        d[a]=b
        print(d)
 
    elif n==2:
        a = input("Enter Key :")
        b = input("Enter value: ")
 
        d[a] = b
        print(d)
 
    elif n==3:
        a = input("Enter Key of Element you want to delete:")
        d.pop(a)
        print(d)
        
    elif n==4:
        a = input("Enter Key of Element you want to update:")
        b = input("Enter value:")
        d[a]=b 
        print(d)

    elif n==5:
      break

OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit


Enter choice :5

#3. Remove duplicates from a list.

In [ ]:
list1 = [12,45,32,12,6,6,33,23,65,12,19,90,65,98,198]
print('Original list:'"\n",list1)
rem_list = list(set(list1))
print('List values after removing duplicates:'"\n",rem_list)

Original list:
 [12, 45, 32, 12, 6, 6, 33, 23, 65, 12, 19, 90, 65, 98, 198]
List values after removing duplicates:
 [32, 33, 65, 98, 6, 198, 12, 45, 19, 23, 90]

#4. Display a list of even numbers between 1 to 100.

In [ ]:
a=1
n=100
print('Even Numbers between 1-100 are:')
for num in range(a, n + 1):
    if num % 2 == 0:
        print(num)

Even Numbers between 1-100 are:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

5. [1,4,6,7,9,0] Display the elements from the index as per the following.
a) First three elements
b) Elements omitting the first and last elements
c) Last element
d) Sort the list in the descending order.

In [ ]:
list1=[1,4,6,7,9,0]
#a
print(list1[0:3])
#b
print(list1[1:5])
#c
print(list1[-1])
#d
list1.sort(reverse=True)
print(list1)

[1, 4, 6]
[4, 6, 7, 9]
0
[9, 7, 6, 4, 1, 0]

6. Merge the given two dictionaries in one {&#39;a&#39;:1,&#39;c&#39;:3}, {&#39;b&#39;:2,&#39;e&#39;:5,&#39;d&#39;:4}.

In [ ]:
one={'a':1,'c':3}
two={'b':2,'e':5,'d':4}
k=two.keys()
v=two.values()
for i in k:
    for j in v:
        one[i]=j

print(one)

{'a': 1, 'c': 3, 'b': 4, 'e': 4, 'd': 4}

7. Sort a tuple which is having elements (4,5,2,7,1,9,3).

In [ ]:
tuple1=(2,4,6,8,6,9,3,11)
tup=sorted(tuple1)
print(tup)

[2, 3, 4, 6, 6, 8, 9, 11]

8. Get the intersection of two lists. [1,2,3,4,5,6] and [3,4,5,6,7,8].

In [ ]:
list2=[1,2,3,4,5,6]
list3=[3,4,5,6,7,8]
list4=[]
for i in range(len(list2)):
    for j in list3:
        if(list2[i]==j):
            list4.append(j)
print(list4)

[3, 4, 5, 6]

9. Create Menu Driven Programme :( Use Dictionary, while, else, if)
Print “1. Add student&quot;
Print &quot;2. Remove student&quot;
Print &quot;3. Print grades&quot;
Print &quot;4. Record grade&quot;
Print &quot;5. Print Menu&quot;
Print &quot;6. Exit&quot;

10. Create and display a simple calculator which performs following operations:
Addition, Subtraction, Multiplication and Division

In [ ]:
ch=int(input("\n1.Addition\n2.Subtraction\n3.Multiplication\n4.Division\n5.Exit\nEnter your choice:"))
n1=float(input("Enter number 1: "))
n2=float(input("Enter number 2: "))
if ch==1:
    print("The addition of two number is:",n1+n2)
elif ch==2:
    print("The subtraction of two number is:",n1-n2)
elif ch==3:
    print("The multiplication of two number is:",n1*n2)

elif ch==4:
    print("The division of two number is:",n1/n2)
elif ch==5:
  break