<a href="https://colab.research.google.com/github/Yashthon/Think-Python/blob/main/Think_Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1:From “Think Python” posted on the classroom go to chapter 10: Lists.
#Understand and solve all examples from 10.1 to 10.6 and 10.8

In [ ]:
#10.1 list is a sequence
l1 = [10,20,30,40]#integers
l2 = ['crunchy frog','ram bladder','lark vomit']#string
l3 = ['spam',2.0,5,[10,20]]#mixed list
print(l1)
print(l2)
print(l3)

cheeses = ['cheddar','edam','gouda']
numbers = [17,123]
empty = []
print (cheeses, numbers, empty)

[10, 20, 30, 40]
['crunchy frog', 'ram bladder', 'lark vomit']
['spam', 2.0, 5, [10, 20]]
['cheddar', 'edam', 'gouda'] [17, 123] []

In [ ]:
#10.2 lists are mutable(can be changed)
print(cheeses[0])
numbers = [17,123]
print(numbers)
numbers[1] = 5
print(numbers)#displays list after chsanging value at index 1

cheeses = ['cheddar','edam','gouda']
print('edam' in cheeses)
print('slice' in cheeses)

cheddar
[17, 123]
[17, 5]
True
False

In [ ]:
#10.3 Traversing a list
cheeses = ['cheddar','edam','gouda']
for cheese in cheeses:
    print(cheese)

num = [2,4,6,8,10]
for i in range(len(num)):
    num[i] = num[i]*2
    print(num[i])

nest_list = ['spam',1, ['Brie','Roquefort','Pol le veq'],[1,2,3]]#list can contain other list but counts to single list
print(nest_list)
print(len(nest_list))

cheddar
edam
gouda
4
8
12
16
20
['spam', 1, ['Brie', 'Roquefort', 'Pol le veq'], [1, 2, 3]]
4

In [ ]:
#10.4 List Operations
# + concatenates lists
a = ['you','need']
b = ['to','shut','up']
c=a+b
print(c)
# *repeats a string given num of times
print([0]*4)
d = [1,2,3,4]
print(d*2)

['you', 'need', 'to', 'shut', 'up']
[0, 0, 0, 0]
[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#10.4 List Slices
e = ['a','b','c','d','e','f']
print(e[1:3])
print(e[:3])
print(e[3:])
print(e[:])
e = ['a','b','c','d','e','f']
e[1:3] = ['x','y']
print(e)

['b', 'c']
['a', 'b', 'c']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'x', 'y', 'd', 'e', 'f']

In [ ]:
#10.6 List methods
x = ['a','b','c']
x.append('d')
print(x)
#extend takes list as arguments and appends all elements
x1 = ['a','b','c']
x2 = ['d','e','f']
x1.extend(x2)
print(x1)
#sort arranges the elements of the list from low to high.
x3 = ['d', 'c', 'e', 'b', 'a']
x3.sort()
print(x3)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e']

In [ ]:
#10.8 Deleting elements
y = ['a', 'b', 'c']
x = y.pop(1)
print(y)
print(x)
# pop modifies the list and returns the element that was removed.

# If you don’t need the removed value, you can use the del operator:
y = ['a', 'b', 'c']
del y[1]
print(y)
# If you know the element you want to remove (but not the index), you can use remove:
y = ['a', 'b', 'c']
y.remove('b')
print(y)

['a', 'c']
b
['a', 'c']
['a', 'c']

2. From the URL mentioned: https://docs.python.org/3/tutorial/datastructures.html
# Solve all examples of list until 5.1.1. Using Lists as Stacks

In [ ]:
# 5.1. More on Lists
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits
fruits.count('apple')
fruits
fruits.count('tangerine')
fruits
fruits.index('banana')
fruits
fruits.index('banana', 4)  # Find next banana starting a position 4
fruits
fruits.reverse()
fruits
fruits.append('grape')
fruits
fruits.sort()
fruits
fruits.pop()

'pear'

In [ ]:
# 5.1.1. Using Lists as Stacks
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack
stack.pop()
stack
stack.pop()
stack
stack.pop()
stack

[3, 4]

3. Create list of 20 elements and display it in the reverse order

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list.reverse()
list

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4. Create List1 of 5 elements and list2 of 5 elements. Combine both the lists and display it.

In [ ]:
list1 = ['a','x','t','d','y']
list2 = ['g','j','l','d','w']
list3 = list1 + list2
list3

['a', 'x', 't', 'd', 'y', 'g', 'j', 'l', 'd', 'w']

5. Display the following output:
[1,2,[3,4,[5,6,7],8],9,10]

In [ ]:
a = ["[1,2,[3,4[5,6,7],8],9,10"]
print(a)

['[1,2,[3,4[5,6,7],8],9,10']

6. Consider following list of numbers [20,30,40,20,50], find and replace first occurrence of
20 with 10.

In [ ]:
l = [20,30,40,20,50]
toStr =' '.join(map(str, l))
type(toStr)
toStr.replace('20','10',1)

'10 30 40 20 50'

7. Create a list of your trimester 3 subjects. At 3 position add Elective as subject.

In [ ]:
sub = ['Python','ML','Android']
sub[2:] = ['Elective']
sub

['Python', 'ML', 'Elective']

8. Create a list of 10 numbers and display sum of the numbers.

In [ ]:
num = [1,0,9,5,3,2,7,9,5,12]
len(num)
sum(num)

53